.btn {
  display: inline-flex;
  padding: 10px 20px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  justify-content: center;
  color: $color-tangaroa;
  width: 100%;
  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
